body{
  font-family: 'Oxygen', sans-serif;
  line-height: 1.8;
  justify-content: center;
  background-color: #12111f;
}

.animatedHeader{
  background-image: url('../assets/img/space1.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
}

.rounded-circle {
  width:60%;
  padding-bottom:20px;
}

#kyraMobile{
  display: none;
}


#canvasContainer{
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  background-color: #610559;
  z-index: 9999;
  border: 0;
  font-size: 15px;
  line-height: 3;
  letter-spacing: 3px;
  border-radius: 0;
}

.container{
  padding-top: 20px;
}

.card{
  background-color: #12111f;
}

.navbar li a, .navbar .navbar-toggler {
  color: #fff;
  line-height: 3;
}

p {
  color: #fff;
  font-size: 15px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', cursive;
  text-align: center;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid {
  padding: 60px 50px;
}

.aboutUsSection{
  background-color: #610559;
  color: #fff;
  font-family: 'Poppins', cursive;
  font-size: 20px;
}


.imgk{
  width: 40%;
  position: absolute;
  left: 30%;
  top: 140px;
}

.imgd{
  width: 40%;
  position: absolute;
  left: 60%;
  top: 100px;
}

.imgt{
  width: 25%;
  position: absolute;
  left: 10%;
  top: 100px;
}

.imgs{
  width: 20%;
  position: absolute;
  left: 8%;
  top: 450px;
}

.imgu{
  width: 20%;
  position: absolute;
  left: 20%;
  top: 500px;
}

.btn{
  /* margin: 40px; */
}

.btn-primary{
  background-color: #610559;
  text-decoration-color: black;
  color: #fff;
  border-color: #610559;
  margin-top: 16px;
}

.btn-primary:hover{
  background-color: #610559;
  border-color: #fff;
}

.btn-outline-info:not(:disabled):not(.disabled):active{
  background-color: #610559;
  border-color: #bc84ca;
}

.btn-outline-info:focus{
  outline: none;
  box-shadow: none;
}

#map {
  margin: auto;
  margin-bottom:40px;
  height: 300px;
  width: 75%;
}

footer{
  background-color: #610559;
  color: #fff;
}

@media (max-width: 1200px){

  .imgk{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 140px;
  }

  .imgd{
    width: 40%;
    position: absolute;
    left: 60%;
    top: 120px;
  }

  .imgt{
    width: 25%;
    position: absolute;
    left: 10%;
    top: 100px;
  }

  .imgs{
    width: 20%;
    position: absolute;
    left: 8%;
    top: 450px;
  }

  .imgu{
    width: 20%;
    position: absolute;
    left: 20%;
    top: 500px;
  }
  .animatedHeader{
    background-image: url('../assets/img/space1.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 900px;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 992px){

  .imgk{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 140px;
  }

  .imgd{
    width: 40%;
    position: absolute;
    left: 60%;
    top: 100px;
  }

  .imgt{
    width: 25%;
    position: absolute;
    left: 10%;
    top: 100px;
  }

  .imgs{
    width: 20%;
    position: absolute;
    left: 8%;
    top: 300px;
  }

  .imgu{
    width: 20%;
    position: absolute;
    left: 20%;
    top: 400px;
  }
  .animatedHeader{
    background-image: url('../assets/img/space1.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 768px){
  .imgk{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 140px;
  }

  .imgd{
    width: 40%;
    position: absolute;
    left: 60%;
    top: 100px;
  }

  .imgt{
    width: 25%;
    position: absolute;
    left: 10%;
    top: 100px;
  }

  .imgs{
    width: 20%;
    position: absolute;
    left: 8%;
    top: 300px;
  }

  .imgu{
    width: 20%;
    position: absolute;
    left: 20%;
    top: 400px;
  }
  .animatedHeader{
    background-image: url('../assets/img/space1.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 572px){
  .imgk{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 140px;
  }

  .imgd{
    width: 40%;
    position: absolute;
    left: 60%;
    top: 100px;
  }

  .imgt{
    width: 25%;
    position: absolute;
    left: 10%;
    top: 100px;
  }

  .imgs{
    width: 20%;
    position: absolute;
    left: 8%;
    top: 200px;
  }

  .imgu{
    width: 20%;
    position: absolute;
    left: 20%;
    top: 300px;
  }
  .animatedHeader{
    background-image: url('../assets/img/space1.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }
}



@media (max-width: 320px){
  .animatedHeader{
    display: none;
  }

  #kyraMobile{
    padding-top: 80px;
    display: block;
  }

  #canvasContainer{
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
}

.small{
  color: #fff;
}

.tree{
  position: absolute;
  align-items: center;
}
