body{
  font-family: 'Oxygen', sans-serif;
  line-height: 1.8;
  justify-content: center;
  background-color: #fff;
  text-align: center;
}

.animatedHeader{
  background-image: url('../assets/img/block.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
}

.rounded-circle {
  width:60%;
  padding-bottom:20px;
}

#kyraMobile{
  display: none;
}

#canvasContainer{
  padding: 20px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  background-color: #f57a7a;
  z-index: 9999;
  border: 0;
  font-size: 15px;
  line-height: 3;
  letter-spacing: 3px;
  border-radius: 0;
}

.container{
  padding-top: 20px;
}

.card{
  background-color: #ffe95c;
}

.navbar li a, .navbar .navbar-toggler {
  color: #fff;
  line-height: 3;
}

a {
  color: #f57a7a;
  font-size: 30px;
}

a:hover {
  color: #fbcaef;
}

p {
  color: #000;
  font-size: 15px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Poppins', cursive;
  text-align: center;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid {
  padding: 60px 50px;
}

.aboutUsSection{
  background-color: #ffe95c;
  color: #000000;
  font-family: 'Poppins', cursive;
  font-size: 20px;
}

.imgd{
  width: 40%;
  position: absolute;
  left: 60%;
  top: 100px;
}

.btn{
  /* margin: 40px; */
}

.btn-primary{
  background-color: #fbcaef;
  text-decoration-color: black;
  color: #000;
  border-color: #f57a7a;
}

.btn-group-lg>.btn,
.btn-lg {
  border-radius: 10rem;
  padding: 0.5rem;
}

.btn-primary:hover{
  background-color: #d5fff3;
  border-color: #f57a7a;
  color: #000;
}

.btn-outline-info:not(:disabled):not(.disabled):active{
  background-color: #fbcaef;
  border-color: #f57a7a;
}

.btn-outline-info:focus{
  outline: none;
  box-shadow: none;
  background-color: #fbcaef;
}

.btn-outline-light{
  background-color: #fbcaef;
}

.duckParallax {
  /* The image used */
  background-image: url('../assets/img/Duck2.jpg');
}

.catParallax {
  /* The image used */
  background-image: url('../assets/img/Cat.jpg');
}

.posterParallax {
  /* The image used */
  background-image: url('../assets/img/Neat Poster.jpg');
}

.logoParallax {
  /* The image used */
  background-image: url('../assets/img/Newton occasions.PNG');
}

.duckParallax, .catParallax, .posterParallax, .logoParallax {
  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:  contain;
}

.carousel-control-next, .carousel-control-prev {
 color: #f57a7a;
 background: #f57a7a;
 -webkit-tap-highlight-color: #f57a7a;
}

#map {
  margin: auto;
  margin-bottom:40px;
  height: 300px;
  width: 75%;
}

footer{
  background-color: #d5fff3;
  color: #000;
}

@media (max-width: 1200px){

  .imgd{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 150px;
  }

  .animatedHeader{
    background-image: url('../assets/img/block.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 900px;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 992px){

  .imgd{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 150px;
  }

  .animatedHeader{
    background-image: url('../assets/img/block.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 768px){

  .imgd{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 150px;
  }

  .animatedHeader{
    background-image: url('../assets/img/block.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 572px){

  .imgd{
    width: 40%;
    position: absolute;
    left: 30%;
    top: 150px;
  }

  .animatedHeader{
    background-image: url('../assets/img/block.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
  }
}



@media (max-width: 320px){
  .animatedHeader{
    display: none;
  }

  #kyraMobile{
    padding-top: 80px;
    display: block;
  }

  #canvasContainer{
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width:800px) {
   .duckParallax, .catParallax, .posterParallax, .logoParallax {
    background-attachment: scroll;
     background-size: 100% 100%;
   }
}

.small{
  color: #000;
}

.tree{
  position: inherit;
  align-items: center;
}
